<a href="https://colab.research.google.com/github/Shruti-Patil-4351/Bloglayout/blob/main/Tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Binary to Decimal**

In [ ]:
binary = input("Enter binary:")
print(int(binary, 2))

Enter binary: 1010
10

**Decimal to Binary**

In [ ]:
decimal = int(input("Enter decimal: "))
print(bin(decimal))

Enter decimal: 18
0b10010

**Hex to Decimal**

In [ ]:
hx = input("Enter hex: ")
print(int(hx, 16))

Enter hex: C2
194

**Create variables of different types**

In [ ]:
# Create variables
a = 10
b = 3.14
c = "Hello"
d = True

# Print variable details
print("Variable a:")
print("Value:", a)
print("Data Type:", type(a))
print("Memory Address:", id(a))
print()

print("Variable b:")
print("Value:", b)
print("Data Type:", type(b))
print("Memory Address:", id(b))
print()

print("Variable c:")
print("Value:", c)
print("Data Type:", type(c))
print("Memory Address:", id(c))
print()

print("Variable d:")
print("Value:", d)
print("Data Type:", type(d))
print("Memory Address:", id(d))

Variable a:
Value: 10
Data Type: <class 'int'>
Memory Address: 11654664

Variable b:
Value: 3.14
Data Type: <class 'float'>
Memory Address: 138037524295664

Variable c:
Value: Hello
Data Type: <class 'str'>
Memory Address: 138037524433392

Variable d:
Value: True
Data Type: <class 'bool'>
Memory Address: 10557792

**Type Casting**

In [ ]:
# int to float
x = 10
print(f"int to float: {x} -> {float(x)}")

# float to int
y = 3.14
print(f"float to int: {y} -> {int(y)}")

# string to int
z = "25"
print(f"string to int: {z} -> {int(z)}")

# int to string
a = 100
print(f"int to string: {a} -> '{str(a)}'")

int to float: 10 -> 10.0
float to int: 3.14 -> 3
string to int: 25 -> 25
int to string: 100 -> '100'

**Operators**

In [ ]:
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")

print(f"Before conversion: {type(num1)}, {type(num2)}")

num1, num2 = float(num1), float(num2)

print(f"After conversion: {type(num1)}, {type(num2)}")

print(f"Addition: {num1 + num2}")
print(f"Subtraction: {num1 - num2}")
print(f"Multiplication: {num1 * num2}")
print(f"Division: {num1 / num2}")
print(f"Floor Division: {num1 // num2}")
print(f"Modulus: {num1 % num2}")
print(f"Power: {num1 ** num2}")

Enter first number: 12
Enter second number: 13
Addition: 25.0
Subtraction: -1.0
Multiplication: 156.0
Division: 0.9230769230769231
Floor Division: 0.0
Modulus: 12.0
Power: 106993205379072.0

**Swapping Two Variables**

In [ ]:
# Method 1: Using a temporary variable
a = 5
b = 10
print(f"Before swap (Method 1): a = {a}, b = {b}")
temp = a
a = b
b = temp
print(f"After swap (Method 1): a = {a}, b = {b}")

Before swap (Method 1): a = 5, b = 10
After swap (Method 1): a = 10, b = 5

In [ ]:
# Method 2: Without temporary variable
a = 5
b = 10
print(f"\nBefore swap (Method 2): a = {a}, b = {b}")
a = a + b
b = a - b
a = a - b
print(f"After swap (Method 2): a = {a}, b = {b}")

Before swap (Method 2): a = 5, b = 10
After swap (Method 2): a = 10, b = 5

In [ ]:
# Method 3: Python special swap
a = 5
b = 10
print(f"\nBefore swap (Method 3): a = {a}, b = {b}")
a, b = b, a
print(f"After swap (Method 3): a = {a}, b = {b}")

Before swap (Method 3): a = 5, b = 10
After swap (Method 3): a = 10, b = 5

**Age**

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

# Calculate the year when they'll turn 100
current_year = 2024
year_100 = current_year + (100 - age)

# Print the message
print(f"Hello {name}, you will turn 100 years old in the year {year_100}.")

Enter your name: Shru
Enter your age: 20
Hello Shru, you will turn 100 years old in the year 2104.

In [ ]:
print("Hello world")

Hello world

In [ ]:
name="shri"
print(name)

shri

In [ ]:
name="shri"
Age=20
Price=76.8

print(type(name))
print(type(Age))
print(type(Price))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
#arithmetic oprators
a=2
b=4

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

6
-2
8
0.5
2
16

In [ ]:
#Relational operators
a=2
b=4

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

False
True
False
True
True
False

In [ ]:
#Logical operators
a=2
b=4

print(not True)
print(not (a<b))
val1=True
val2=False
print("or oprators:",val1 or val2)
print("and oprators :",val1 and val2)

False
False
or oprators: True
and oprators : False

In [ ]:
#Assignment oprators
# Addition Assignment Operator
a=3
b=5
a+=b
print(a)

8

In [ ]:
# Subtraction Assignment Operator
a=3
b=5
a-=b
print(a)

-2

In [ ]:
# Multiplication Assignment Operator
a = 3
b = 5
a *= b
print(a)

15

In [ ]:
# Division Assignment Operator
a = 3
b = 5
a /= b
print(a)

0.6

In [ ]:
# Modulus Assignment Operator
a = 3
b = 5
a %= b
print(a)

3

In [ ]:
# conversion
a=int("2")
b=5.7

print(a+b)

7.7

In [ ]:
# input
input("Enter your name:")
print("welcome!!",name)

Enter your name:Shri
welcome!! shri

**Even-Odd**

In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print(f"{num} is even")
else:
    print(f"{num} is odd")

Enter a number: 3
3 is odd

**Greter number**

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if num1 >= num2 and num1 >= num3:
    print(f"{num1} is the largest")
elif num2 >= num1 and num2 >= num3:
    print(f"{num2} is the largest")
else:
    print(f"{num3} is the largest")

Enter first number: 3
Enter second number: 4
Enter third number: 5
5 is the largest

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
print(f"{max(num1, num2, num3)} is the largest")

Enter first number: 2
Enter second number: 3
Enter third number: 4
4 is the largest

**Eligible to vote**

In [ ]:
age = int(input("Enter your age: "))
if age >= 18:
    print("Eligible to vote")
else:
    print("Not eligible")

Enter your age: 20
Eligible to vote

**Grade**

In [ ]:
marks = float(input("Enter your marks: "))
if 90 <= marks <= 100:
    print("Grade: A")
elif 75 <= marks < 90:
    print("Grade: B")
elif 60 <= marks < 75:
    print("Grade: C")
elif 35 <= marks < 60:
    print("Grade: D")
elif marks < 35:
    print("Fail")
else:
    print("Invalid marks")

Enter your marks: 96.40
Grade: A

**+ve and -ve**

In [ ]:
num = float(input("Enter a number: "))
if num > 0:
    print(f"{num} is Positive")
elif num < 0:
    print(f"{num} is Negative")
else:
    print(f"{num} is Zero")

Enter a number: -3
-3.0 is Negative

In [ ]:
# Predefined credentials
username = "admin"
password = "1234"

# Get user input
user_input_username = input("Enter username: ")
user_input_password = input("Enter password: ")

# Check credentials
if user_input_username == username and user_input_password == password:
    print("Login Successful")
else:
    print("Invalid Credentials")

Enter username: admin
Enter password: 1234
Login Successful

**Type & Memory**

In [ ]:
int_val = 10
float_val = 3.14
str_val = "Hello"
bool_val = True

# Print value, type, and id for each variable
print("Integer:")
print(f"Value: {int_val}, Type: {type(int_val)}, ID: {id(int_val)}")

print("\nFloat:")
print(f"Value: {float_val}, Type: {type(float_val)}, ID: {id(float_val)}")

print("\nString:")
print(f"Value: {str_val}, Type: {type(str_val)}, ID: {id(str_val)}")

print("\nBoolean:")
print(f"Value: {bool_val}, Type: {type(bool_val)}, ID: {id(bool_val)}")

Integer:
Value: 10, Type: <class 'int'>, ID: 11654664

Float:
Value: 3.14, Type: <class 'float'>, ID: 136135167508432

String:
Value: Hello, Type: <class 'str'>, ID: 136135167822704

Boolean:
Value: True, Type: <class 'bool'>, ID: 10557792

**Biggest of Four Numbers**

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
num4 = float(input("Enter fourth number: "))

if num1 >= num2 and num1 >= num3 and num1 >= num4:
    print(f"{num1} is the largest")
elif num2 >= num1 and num2 >= num3 and num2 >= num4:
    print(f"{num2} is the largest")
elif num3 >= num1 and num3 >= num2 and num3 >= num4:
    print(f"{num3} is the largest")
else:
    print(f"{num4} is the largest")

Enter first number: 2
Enter second number: 3
Enter third number: 4
Enter fourth number: 55
55.0 is the largest

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
num4 = float(input("Enter fourth number: "))
print(f"{max(num1, num2, num3, num4)} is the largest")

Enter first number: 1
Enter second number: 2
Enter third number: 5
Enter fourth number: 6
6.0 is the largest

**Profit or Loss**

In [ ]:
cp = float(input("Enter cost price: "))
sp = float(input("Enter selling price: "))

if sp > cp:
    profit = sp - cp
    print(f"Profit: ₹{profit:.2f}")
elif sp < cp:
    loss = cp - sp
    print(f"Loss: ₹{loss:.2f}")
else:
    print("No profit no loss")

Enter cost price: 399
Enter selling price: 499
Profit: ₹100.00

**Character Check**

In [ ]:
char = input("Enter a character: ")

if char.isupper():
    print(f"'{char}' is uppercase")
elif char.islower():
    print(f"'{char}' is lowercase")
elif char.isdigit():
    print(f"'{char}' is a digit")
else:
    print(f"'{char}' is a special symbol")

Enter a character: 7
'7' is a digit

In [ ]:
char = input("Enter a character: ")
ord_char = ord(char)

if 65 <= ord_char <= 90:
    print(f"'{char}' is uppercase")
elif 97 <= ord_char <= 122:
    print(f"'{char}' is lowercase")
elif 48 <= ord_char <= 57:
    print(f"'{char}' is a digit")
else:
    print(f"'{char}' is a special symbol")

Enter a character: K
'K' is uppercase

**Calculator Using If-Else**

In [ ]:
num1 = float(input("Enter first number: "))
operator = input("Enter operator (+, -, *, /): ")
num2 = float(input("Enter second number: "))

if operator == '+':
    print(f"{num1} + {num2} = {num1 + num2}")
elif operator == '-':
    print(f"{num1} - {num2} = {num1 - num2}")
elif operator == '*':
    print(f"{num1} * {num2} = {num1 * num2}")
elif operator == '/':
    if num2 != 0:
        print(f"{num1} / {num2} = {num1 / num2}")
    else:
        print("Error: Division by zero")
else:
    print("Invalid operator")

Enter first number: 67
Enter operator (+, -, *, /): -
Enter second number: 34
67.0 - 34.0 = 33.0

**Year is Leap Year or Not**

In [ ]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

Enter a year: 2026
2026 is not a leap year

**If a person enters age, decide these**

In [ ]:
age = int(input("Enter age: "))
if age < 13:
    print("Child")
elif 13 <= age <= 19:
    print("Teenager")
elif 20 <= age <= 59:
    print("Adult")
else:
    print("Senior")

Enter age: 65
Senior

**Electricity Bill Calculator**

In [ ]:
units = int(input("Enter units consumed: "))
if units <= 100:
    bill = units * 5
elif units <= 200:
    bill = 100 * 5 + (units - 100) * 7
else:
    bill = 100 * 5 + 100 * 7 + (units - 200) * 10
gst = bill * 0.05
total_bill = bill + gst
print(f"Total bill: ₹{total_bill:.2f}")

Enter units consumed: 56
Total bill: ₹294.00

**Student Result System**

In [ ]:
marks = float(input("Enter your marks: "))
if 90 <= marks <= 100:
    print("Grade: A")
elif 75 <= marks < 90:
    print("Grade: B")
elif 60 <= marks < 75:
    print("Grade: C")
elif 35 <= marks < 60:
    print("Grade: D")
elif marks < 35:
    print("Fail")
else:
    print("Invalid marks")

Enter your marks: 6
Fail

**Build a Simple “ATM Simulation” using ONLY If-Else**

In [ ]:
balance = 5000.0

print("Welcome to the ATM!")
print("1. Check Balance")
print("2. Deposit")
print("3. Withdraw")
print("4. Exit")

choice = int(input("Enter your choice (1/2/3/4): "))

if choice == 1:
    print(f"Your balance is: ₹{balance:.2f}")
elif choice in [2, 3]:
    amount = float(input("Enter amount: "))
    if amount > 0:
        if choice == 2:
            balance += amount
            print(f"Deposit successful. New balance: ₹{balance:.2f}")
        elif balance >= amount:
            balance -= amount
            print(f"Withdrawal successful. New balance: ₹{balance:.2f}")
        else:
            print("Insufficient balance.")
    else:
        print("Invalid amount.")
elif choice == 4:
    print("Thank you for using the ATM. Goodbye!")
else:
    print("Invalid choice.")

Welcome to the ATM!
1. Check Balance
2. Deposit
3. Withdraw
4. Exit
Enter your choice (1/2/3/4): 3
Enter amount: 4000
Withdrawal successful. New balance: ₹1000.00

**Smart Streetlight**

In [ ]:
def smart_streetlight(hour, is_raining):
    if (19 <= hour or hour < 6) or is_raining:
        return "Bright"
    elif (18 <= hour < 19) or (6 <= hour < 7):
        return "Dim"
    else:
        return "Off"
print(smart_streetlight(20, False))  # Bright
print(smart_streetlight(7, False))   # Off
print(smart_streetlight(18, True))   # Bright

Bright
Off
Bright

**Laundry Cycle Suggestion**

In [ ]:
def laundry_cycle(fabric_type, stain_level):
    if fabric_type == "delicate":
        return "Pre-soak + gentle" if stain_level > 3 else "Normal wash"
    elif fabric_type == "synthetic":
        return "Quick wash" if stain_level <= 4 else "Normal wash"
    elif fabric_type == "cotton":
        return "Pre-soak + gentle" if stain_level > 7 else "Normal wash"

# Example usage:
print(laundry_cycle("delicate", 5))  # Pre-soak + gentle
print(laundry_cycle("synthetic", 3)) # Quick wash

Pre-soak + gentle
Quick wash


**Cafeteria Loyalty Discount**

In [ ]:
def cafeteria_discount(total_bill, is_student, visits_this_month):
    discount = 0
    if is_student:
        discount += 5
    if visits_this_month >= 5:
        discount += 5
    if total_bill > 500:
        discount += 5
    return min(discount, 15)
    # Example usage:
print(cafeteria_discount(600, True, 6))  # 15

15

**Electric Car Charge Mode**

In [ ]:
def charge_mode(battery_percent, time_until_trip_hours):
    if battery_percent < 20:
        return "Fast charge"
    elif 20 <= battery_percent <= 80 and time_until_trip_hours < 2:
        return "Fast charge"
    elif battery_percent >= 80 or time_until_trip_hours > 12:
        return "Trickle charge"
    else:
        return "No charge needed"

# Example usage:
print(charge_mode(10, 1))

Fast charge

**Medication Reminder Priority**

In [ ]:
def medication_reminder(hours_since_last_dose, is_critical_med):
    threshold_now = 4 if is_critical_med else 8
    threshold_warn = 2 if is_critical_med else 4
    if hours_since_last_dose >= threshold_now:
        return "Take now"
    elif hours_since_last_dose >= threshold_warn:
        return "Take within 1 hour"
    else:
        return "Skip"
print(medication_reminder(5, True))  # Take now
print(medication_reminder(9, False)) # Take now
print(medication_reminder(3, True))  # Take within 1 hour
print(medication_reminder(1, False)) # Skip

Take now
Take now
Take within 1 hour
Skip

**Elevator Stop Decision**

In [ ]:
def elevator_stop_decision(current_floor, requested_floor, doors_open):
    if doors_open and current_floor == requested_floor:
        return "Open doors"
    elif current_floor < requested_floor:
        return "Move up"
    elif current_floor > requested_floor:
        return "Move down"
    else:
        return "Stay"

# Example usage:
print(elevator_stop_decision(5, 5, True))
print(elevator_stop_decision(3, 7, False))
print(elevator_stop_decision(8, 2, False))
print(elevator_stop_decision(4, 4, False))

Open doors
Move up
Move down
Stay

**Smart Thermostat Heating/Cooling**

In [ ]:
def smart_thermostat(current_temp, desired_temp, is_home):
    if not is_home:
        return "Eco"
    elif current_temp < desired_temp - 0.5:
        return "Heat"
    elif current_temp > desired_temp + 0.5:
        return "Cool"
    else:
        return "Hold"

# Example usage:
print(smart_thermostat(20, 22, True))  # Output: Heat
print(smart_thermostat(25, 22, True))  # Output: Cool
print(smart_thermostat(22, 22, True))  # Output: Hold
print(smart_thermostat(20, 22, False)) # Output: Eco

Heat
Cool
Hold
Eco

**Parking fee calculator**

In [ ]:
import math

def parking_fee(minutes_parked, is_weekend):
    if is_weekend and minutes_parked > 120:
        return 50
    elif minutes_parked <= 30:
        return 0
    else:
        hours = math.ceil((minutes_parked - 30) / 60)
        return hours * 20

# Example usage:
print(parking_fee(20, False))  # Output: 0
print(parking_fee(60, False))  # Output: 20
print(parking_fee(150, True))  # Output: 50

**Gym access level**

In [ ]:
def gym_access(membership_type, time_hour):
    if membership_type == "vip":
        return "Access allowed"
    elif membership_type == "pro" and 5 <= time_hour <= 23:
        return "Access allowed"
    elif membership_type == "basic" and 7 <= time_hour <= 22:
        return "Access allowed"
    else:
        return "Restricted"

# Example usage:
print(gym_access("vip", 10))   # Output: Access allowed
print(gym_access("pro", 4))    # Output: Restricted
print(gym_access("basic", 8))  # Output: Access allowed

Access allowed
Restricted
Access allowed

**Food delivery tip suggestion**

In [ ]:
def delivery_tip(order_value, weather_condition, delivery_time_minutes):
    tip = 5
    if weather_condition == "rain":
        tip += 3
    elif weather_condition == "storm":
        tip += 6
    if delivery_time_minutes > 45:
        tip += 2
    if order_value > 2000:
        tip += 1
    return tip

# Example usage:
print(delivery_tip(1500, "clear", 30))  # Output: 5
print(delivery_tip(2500, "rain", 60))   # Output: 11

5
11

**Printer toner warning**

In [ ]:
def printer_toner_warning(pages_printed_since_refill, printer_model_capacity):
    usage_percent = (pages_printed_since_refill / printer_model_capacity) * 100
    if usage_percent >= 95:
        return "Critical"
    elif usage_percent >= 75:
        return "Low"
    else:
        return "OK"

# Example usage:
print(printer_toner_warning(750,1000))  # Output: Low
print(printer_toner_warning(950, 1000))  # Output: Critical
print(printer_toner_warning(500, 1000))  # Output: OK

Low
Critical
OK

**Movie rating age check**

In [ ]:
def movie_rating_age_check(age, rating):
    if rating == "G":
        return "Allowed"
    elif rating == "PG":
        return "Allowed"
    elif rating == "PG-13":
        return "Allowed" if age >= 13 else "Allowed with adult"
    elif rating == "R":
        return "Allowed" if age >= 17 else "Denied"
    elif rating == "NC-17":
        return "Allowed" if age >= 18 else "Denied"

# Example usage:
print(movie_rating_age_check(15, "PG-13"))  # Output: Allowed
print(movie_rating_age_check(12, "PG-13"))  # Output: Allowed with adult
print(movie_rating_age_check(16, "R"))      # Output: Denied

Allowed
Allowed with adult
Denied

**Water tank refill alert**

In [ ]:
def water_tank_refill(water_level_percent, rain_forecast_next_24h):
    if water_level_percent < 15:
        return "Refill now"
    elif 15 <= water_level_percent < 40 and not rain_forecast_next_24h:
        return "Refill later"
    else:
        return "No refill"

# Example usage:
print(water_tank_refill(10, False))  # Output: Refill now
print(water_tank_refill(25, False))  # Output: Refill later
print(water_tank_refill(50, True))   # Output: No refill

Refill now
Refill later
No refill

**Online exam proctoring lock**

In [ ]:
def online_exam_proctoring(tabs_open, webcam_on, time_into_exam_minutes, total_exam_minutes):
    if not webcam_on or tabs_open > 3:
        if (not webcam_on and tabs_open > 3) or time_into_exam_minutes > total_exam_minutes - 5:
            return "Lock exam"
        else:
            return "Warn"
    else:
        return "Continue"

# Example usage:
print(online_exam_proctoring(2, True, 30, 60))  # Output: Continue
print(online_exam_proctoring(4, True, 30, 60))  # Output: Warn
print(online_exam_proctoring(2, False, 55, 60)) # Output: Lock exam

Continue
Warn
Warn

**Room light color mode**

In [ ]:
def room_light_color(activity, hour):
    priorities = {"sleep": 4, "party": 3, "reading": 2, "work": 1}
    modes = {
        "reading": "Warm" if 18 <= hour <= 22 else None,
        "work": "Cool" if 9 <= hour <= 17 else None,
        "party": "Colorful" if 18 <= hour <= 23 else None,
        "sleep": "Dim" if (hour >= 22 or hour <= 6) else None
    }
    chosen_mode = None
    chosen_priority = 0
    for act, mode in modes.items():
        if mode and priorities[act] > chosen_priority:
            chosen_mode = mode
            chosen_priority = priorities[act]
    return chosen_mode

# Example usage:
print(room_light_color("reading", 20))  # Warm
print(room_light_color("sleep", 23))    # Dim

Colorful
Dim

**Bank transaction flag**

In [ ]:
def bank_transaction_flag(amount, is_foreign, account_age_months):
    if amount > 10000 and is_foreign:
        return "Require OTP"
    elif amount > 50000:
        return "Allow" if account_age_months > 12 else "Block"
    else:
        return "Allow"

# Example usage:
print(bank_transaction_flag(15000, True, 6))  # Require OTP
print(bank_transaction_flag(60000, False, 18)) # Allow

Require OTP
Allow

**Greenhouse irrigation decision**

In [ ]:
def greenhouse_irrigation(soil_moisture_percent, sunlight_hours_today):
    if soil_moisture_percent < 30:
        return "Irrigate full"
    elif 30 <= soil_moisture_percent <= 50 and sunlight_hours_today > 6:
        return "Irrigate short"
    else:
        return "Skip"

# Example usage:
print(greenhouse_irrigation(20, 8))  # Irrigate full
print(greenhouse_irrigation(40, 7))  # Irrigate short

Irrigate full
Irrigate short

**Smart alarm snooze logic**

In [ ]:
def smart_alarm_snooze(snoozes_used, day_of_week, is_important_meeting):
    max_snoozes = 2 if day_of_week < 5 else 5
    if is_important_meeting:
        return "Force alarm"
    elif snoozes_used >= max_snoozes:
        return "No snooze"
    else:
        return "Snooze allowed"

# Example usage:
print(smart_alarm_snooze(2, 1, False))  # Snooze allowed
print(smart_alarm_snooze(3, 1, False))  # No snooze

No snooze
No snooze

**Email auto-category for receipts**

In [ ]:
def email_auto_category(subject, amount_found_in_body, has_invoice_keyword):
    if amount_found_in_body is not None or has_invoice_keyword:
        return "Receipt"
    elif "sale" in subject.lower() or "offer" in subject.lower():
        return "Promotion"
    else:
        return "Personal"

# Example usage:
print(email_auto_category("Your receipt", 10.99, False))  # Receipt
print(email_auto_category("Sale alert!", None, False))    # Promotion

Receipt
Promotion

**Bicycle gear suggestion**

In [ ]:
def bicycle_gear_suggestion(incline_percent, speed_kmph, wind_speed_kmph):
    if incline_percent > 8:
        gear = 1 if wind_speed_kmph > 20 else 2
    elif 3 <= incline_percent <= 8:
        gear = 3 if wind_speed_kmph > 20 else 4
    elif incline_percent < 3 and speed_kmph > 25:
        gear = 7 if wind_speed_kmph < 10 else 6
    else:
        gear = 5

    # Adjust gear based on headwind and speed
    if wind_speed_kmph > 20 and speed_kmph < 20:
        gear = max(1, gear - 1)

    return gear

# Example usage:
print(bicycle_gear_suggestion(10, 15, 25)) # 1
print(bicycle_gear_suggestion(5, 20, 15))  # 3
print(bicycle_gear_suggestion(2, 30, 5))   # 7

1
4
7